
h1{
	color: orangered;
	background-color: black;
	text-align: center;
	border: 5px dotted floralwhite;
	border-radius: 10px;
	padding: 4px;
	margin: 15px;


}

img{
	border: 10px solid springgreen;
	border-radius: 10%;
	box-shadow: 15px 10px 5px 5px rgba(0,0,0,0.80);
	

}

a{
	text-decoration: none;
	color: skyblue;
	border: 2px solid palevioletred;
	background-color: blanchedalmond;
	font-size: 45;
	margin: 0 auto;
	width: 30%;
	text-align: center;


}

div{
	justify-content: center;
	border: 10px solid indianred;
	width:1000px ;
	margin: 20px auto;
	background-color: azure;
	box-shadow: 20px 20px 20px silver;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;



}

#avatar{
	width: 100px;
}
