#banner h1 {
	color: black;
}

a{
	color: blanchedalmond;
	margin: 0 auto;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	background-color: black;
	border-radius: 8px;
	box-shadow: 10px 10px 10px silver;


}

div{
	border: 10px solid indianred;
	width: 500px;
	margin: 20px;
	text-align: center;
	


}
#button:hover {
	color: blueviolet;
	background-color: rgb(230, 230, 0);
}

.main-wrapper {
	border: 20px solid springgreen;
	width: 200px;
	margin: 10px;
	
}